<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form Validation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form Validation</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="userName" required></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="loginForm.controls.userName.dirty && loginForm.controls.userName.invalid">Username can't be empty!</ion-label>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" required></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.invalid">Password can't be empty!</ion-label>
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Submit</ion-button>
    </form>
  </div>
</ion-content>
