<ion-toolbar class="gradient">
  <ion-buttons slot="start">
    <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper align-items-center auth">
        <div class="row flex-grow">
          <div class="col-lg-4 mx-auto">
            <div class="text-left">
              <div class="brand-logo">
                <img src="http://www.bootstrapdash.com/demo/purple-admin-free/assets/images/logo.svg">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <br>
              <form class="pt-3">
                <div class="form-group">
                  <label class="jss697">Your Email<sup>&nbsp;*</sup></label>
                  <div class="MuiBox-root jss709">
                    <input type="email" name="email" class="jss699" value="">
                    <div class="MuiBox-root jss710 jss702"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="jss697">Password<sup>&nbsp;*</sup></label>
                  <div class="MuiBox-root jss709">
                    <input type="password" email="password" class="jss699" value="" minlength="6">
                    <div class="MuiBox-root jss710 jss702"></div>
                  </div>
                </div>
                <div class="mt-3 my-2 d-flex justify-content-between align-items-center" class="ion-text-center"
                  style="margin-bottom: 10px !important;margin-top: 10px !important;">
                </div>
                <div class="mt-3">
                  <button
                    class="MuiButtonBase-root MuiButton-root jss704 MuiButton-contained MuiButton-containedPrimary"
                    tabindex="0" type="submit" id="signin-form-submit"><span class="MuiButton-label">SIGN
                      IN</span><span class="MuiTouchRipple-root"></span></button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center" class="ion-text-center"
                  style="margin-bottom: 10px !important;margin-top: 10px !important;">
                  <!-- <a href="#" class="auth-link text-black">Forgot password?</a> -->
                </div>
                <br>
                <br>
                <div class="ion-text-center">
                  <div class="text-center mt-4 font-weight-light"> Don't have an account? <a class="text-light">Create</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>